/* CSS NAVBAR */
.header-area {
    /*   background-image: url("assets/img/header.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
      height: 600px;
      margin-bottom: 30px;
      position: relative;
  }
    
    /* navbar regular css start */
  .container-navbar {
      display: flex;
      justify-content: center;
      padding-top: 45px;
  }
  .site-navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      background: rgba(253, 253, 253, 0.859);
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .nav-container-links {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
  }
  .site-navbar .nav-container-links .nav-link a {
      color: #262626;
      padding: 20px;
      display: block;
      text-decoration: none;
      font-size: 1.3rem;
      transition: transform 0.3s ease-in-out;
  }
  .site-navbar .nav-container-links .nav-link a:hover {
      background: rgba(255,255,255,.1);
      cursor: pointer;
      color: #65AEF2;
      transform: translateY(-5px);
  }
  .logo-desktop{
      visibility: visible;
  }
  .logo-mobile{
      visibility: hidden;
  }
  .padding-li{
      padding-right: 50px;
  }
    /* navbar regular css end */
    
    /* nav-toggler css start */
    .nav-toggler {
      border: 3px solid #2d2b2b;
      padding: 5px;
      background-color: transparent;
      cursor: pointer;
      height: 39px;
      display: none;
  }
    .nav-toggler span, 
    .nav-toggler span:before, 
    .nav-toggler span:after {
      width: 28px;
      height: 3px;
      background-color: #2d2b2b;
      display: block;
      transition: .3s;
  }
    .nav-toggler span:before {
      content: '';
      transform: translateY(-9px);
  }
    .nav-toggler span:after {
      content: '';
      transform: translateY(6px);
    }
    .nav-toggler.toggler-open span {
      background-color: transparent;
    }
    .nav-toggler.toggler-open span:before {
      transform: translateY(0px) rotate(45deg);
    }
    .nav-toggler.toggler-open span:after {
      transform: translateY(-3px) rotate(-45deg);
    }
    /* nav-toggler css start */
    /* intro-area css start */
    .title-area {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      transition: bottom 0.3s;
    }
    .title-area h1 {
      font-size: 2.9rem;
      font-weight: bold;
      color: #fff;
      margin: 0;
      padding: 1rem 15px;
      letter-spacing: 0.1rem;
    }
    /* intro-area css end */
    /* mobile breakpoint start */
    @media screen and (max-width: 767px) {
      .cointainer-nav-mobile {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
      }
      .container-navbar{
        padding: 0;
      }
      /* navbar css for mobile start */
      .nav-toggler{
        display: block;
      }
      .site-navbar {
        min-height: 60px;
        align-items: center;
        box-shadow: none;
        width: 100%;
        border-radius: 0;
        padding: 10px;
      }
      .site-navbar .nav-container-links {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 80px;
        flex-direction: column;
        align-items: center;
        background-color: rgb(253, 253, 253);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
      }
      .site-navbar .nav-container-links .nav-link {
        width: 100%;
        text-align: center;
      }
      .site-navbar .nav-container-links .nav-link a {
        padding: 25px;
        color: #262626;
        transition: transform 0.3s ease-in-out;
      }
      .padding-li{
        padding-right: 0;
      }
      .site-navbar .nav-container-links .nav-link a:hover {
        background: rgba(255,255,255,.1);
        cursor: pointer;
        color: #65AEF2;
        transform: translateY(-5px);
      }
      .site-navbar .nav-container-links.open {
        max-height: 100vh;
        overflow: visible;
      }
      .logo-mobile{
        visibility: visible;
      }
      .logo-desktop{
        visibility: none;
      }
      .background-image {
        height: 300px;
      }
      .header-title {
        display: block;
      }
      .nav-toggler.toggler-open ~ .title-area .header-title {
        display: none;
      }
    }
    /* mobile breakpoint end */
    
    @media screen and (min-width: 767px) and (max-width: 900px) {
      .site-navbar {
        width: 90%;
      }
      .site-navbar .nav-container-links{
        align-items: center;
      }
      .site-navbar .nav-container-links .nav-link a{
        font-size: 1rem;;
      }
    }
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 600px;
      z-index: -1; /* Enviar la imagen hacia atrás */
    }
  /* CSS NAVBAR FIN */