*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
  background-color: #ebebeb;
  min-height: none;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
  }
  
  .texto h2{
    color: #65AEF2;
    font-weight: bold;
  }
  
  .texto h3{
    font-weight: 800;
    margin: 20px 0
  }
  
  .button-card{
    border: none;
    background: none;
    font-family:"Inter", sans-serif; 
    color: #65AEF2;
    cursor: pointer;
  }
  
  
  .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
  }
  
  .card1{
    width: 330px;
    height: 450px;
    background-color: #ffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .card1 img{
    width: 295px;
    height: 220px;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .card1 h2, h3, h4, h5{
    margin:4px 14px;
  }
  
  .card1 h2{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #5E5E5E;
  }
  
  .card1 h4{
    margin-top: 20px;
    font-weight: 100;
    font-size: 15px;
    color: #5E5E5E;
    font-weight: bold;
  }
  
  .card-precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family:"Inter", sans-serif; 
  }
  
  .card-precio .precio{
    font-weight: 800;
    font-size: 25px;
    
  }