*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
  background-color: #ebebeb;

  min-height: none;
}
.contenedor-datos{
    background-color: #E9F3F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 180px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
  }
  
  .datos-mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
  
  .datos-mensaje h2, h3{
    margin: 4px;
    font-size: 18px;
  }
  
  .datos-mensaje h3{
    color: #5E5E5E;
  }
  
  .datos-mensaje h3{
    font-size: 14px;
  }
  
  .datos-seleccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: 15px;
    width: 80%;
  }
  
  .datos-calendario, .datos-persona{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffff;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .datos-calendario img{
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  
  .datos-calendario h2, .datos-persona h2{
    font-size: 14px;   
  }
  
  .datos-persona h2{
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .datos-button button{
    font-size: 14px;
    background-color: #65AEF2;
    border-radius: 5px;
    padding: 11px 10px;
    color: #ffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:600;
  }
  