.contenedor-sn {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.texto-sn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 5%;
  padding-top: 2%;
}

.titulo-sn{
  text-align: center;
  font-size: 7rem;
  padding: 4%;
  margin: 0%;
}

.imagen-sn{
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
  margin-top: 10vh; 
  width: 60vh;
  height: 100vh;
}

.seccion-sn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}