footer {
    background-color: #201c1c;
    color: white;
    padding: 30px;
    height: auto; 
}  
.contenedor-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newsletter {
    width: 50%;
}
.imagen{
    display: block;  
}
.newsletter-input {
    display: flex;
    align-items: center;
}
.newsletter-input .newsletter-label {
    margin-right: 10px;
}
.newsletter-input .input-newsletter {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}
.newsletter-input button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.footer-logo img {
    max-width: 100%; 
    height: 10%;
    width: 20%;
    margin-left: 200px;
}
.newsletter img {
    max-width: 100%; 
    height: 10%;
    width: 20%;
    margin-left: 200px;
}
.footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-nav-link {
    display: inline-block;
    width: 26%; 
    padding: 5px;
    text-align: center;
    margin-right: 2%;
    font-family: 'Noto Sans', sans-serif;
}
.footer-nav-link:last-child {
    margin-right: 0;
}
.footer-nav-link a {
    text-decoration: none; 
    color: white;
}
.creditos{
    text-align: center;
    margin-top: 50px; 
}

@media (max-width: 768px){
    footer{
        display: flex;
        flex-direction: column;
    }

    .contenedor-footer{
        display: flex;
        flex-direction: column;
    }

    .newsletter{
        display: flex;
        flex-direction: column;
    }
    
    .newsletter-input{
        display: flex;
        flex-direction: column;
    }

    .footer-logo, .footer-nav{
        display: flex;
        flex-direction: column;    
    }
}